<script>
    // sert à vérifier si les deux passwords sont les mêmes
    var password = document.getElementById("password");
    var confpassword = document.getElementById("confpassword");

    function validatePassword(){
        if(password.value !== confpassword.value) {
            confpassword.setCustomValidity("Passwords Don't Match");
        } else {
            confpassword.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confpassword.onkeyup = validatePassword;
</script>